

<table class="table">
  
    <th>Username</th>
    <th>Email</th>    
    <th>Role</th>
    <th>Status</th>
    <th>Action</th>
    
    @for (user of users; track user.id) {
        <tr>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>            
            <td>{{user.roleNames[0]}}</td>            
            @if (user.status === "Active") {
                <td class="background-color:green">{{user.status}}</td>            
            }   
            @else if (user.status == "InProcess") {
                <td>{{user.status}}</td>
            }
            @else {
                <td class="background-color:green">{{user.status}}</td>
            }
            <td>
                <button
                    type="button"
                    class="btn btn-primary"
                    mat-flat-button
                >
                    <a 
                        style="text-decoration:none;"
                        mat-button 
                        [routerLink]="['/' + appRoutes.UesrDetails + '/', user.id]" 
                    >Details</a>
                </button>
                <button
                    type="button"
                    class="btn btn-danger"
                    mat-flat-button
                >Disable</button>
            </td>
            
        </tr>
}
    
</table>    

