<div class="box-shadow login form-template-black">
    <h1>Login</h1>
    <form
      class="container form"
      [formGroup]="loginForm"
      (ngSubmit)="submitForm()"
    >
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Enter your email"
          />
          @if (loginForm.get('email')!.hasError('required')) {
          <mat-error>Email is required</mat-error>
          } @if (loginForm.get('email')!.hasError('email')) {
          <mat-error>Enter a valid email</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="Enter your password"
          />
          @if (loginForm.get('password')!.hasError('required')) {
          <mat-error>Password is required</mat-error>
          } @if (loginForm.get('password')!.hasError('minlength')) {
          <mat-error>Password has to be at least 8 characters long</mat-error>
          } @if (loginForm.get('password')!.hasError('maxlength')) {
          <mat-error>Password cannot be longer than 50 characters</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <button
          type="submit"
          mat-flat-button
          class="btn btn-primary"
          [disabled]="loginForm.invalid"
        >
          Login
        </button>
      </div>
  
      <div class="mb-3">
        <span class="link-text">You don't have an account?</span>
        <a mat-button [routerLink]="'/' + appRoutes.Registration">Registration</a>
      </div>
    </form>
  </div>