<div class="box-shadow registration form-template-black">
    <h1>Registration</h1>
    <form
      class="container form"
      [formGroup]="registerForm"
      (ngSubmit)="$event.preventDefault(); submitForm()"
    >
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input
            type="text"
            matInput
            formControlName="username"
            placeholder="Enter your username"
          />
          @if (registerForm.get('username')!.hasError('required')) {
          <mat-error>Username is required</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Enter your email"
          />
          @if (registerForm.get('email')!.hasError('required')) {
          <mat-error>Email is required</mat-error>
          } @if (registerForm.get('email')!.hasError('email')) {
          <mat-error>Enter a valid email</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            type="text"
            matInput
            formControlName="name"
            placeholder="Enter your Name"
          />
          @if (registerForm.get('name')!.hasError('required')) {
          <mat-error>Name is required</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Surname</mat-label>
          <input
            type="text"
            matInput
            formControlName="surname"
            placeholder="Enter your surname"
          />
          @if (registerForm.get('surname')!.hasError('required')) {
          <mat-error>Surname is required</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            formControlName="password"
            placeholder="Enter your password"
          />
          @if (registerForm.get('password')!.hasError('required')) {
          <mat-error>Password is required</mat-error>
          } @if (registerForm.get('password')!.hasError('minlength')) {
          <mat-error>Password has to be at least 8 characters long</mat-error>
          } @if (registerForm.get('password')!.hasError('maxlength')) {
          <mat-error>Password cannot be longer than 50 characters</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3 p-relative">
        <mat-form-field class="example-full-width">
          <mat-label>Repeat password</mat-label>
          <input
            type="password"
            matInput
            formControlName="repeatPassword"
            placeholder="Enter your repeated password"
          />
          @if (registerForm.get('repeatPassword')?.hasError('required')) {
          <mat-error>Repeat password is required</mat-error>
          } 
        </mat-form-field>
        @if (registerForm.hasError('repeatPassword')) {
        <mat-error class="custom-error">Passwords must match</mat-error>
        }
      </div>
  
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input
            type="text"
            matInput
            formControlName="address"
            placeholder="Enter your address"
          />
          @if (registerForm.get('address')!.hasError('required')) {
          <mat-error>Address is required</mat-error>
          }
        </mat-form-field>
      </div>

      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Choose a date of birth</mat-label>
          <input
            formControlName="dateOfBirth"
            [max]="today"
            matInput
            [matDatepicker]="picker"
          />
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>

          @if (registerForm.get('dateOfBirth')!.hasError('required')) {
          <mat-error>Date of birth is required</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select
            formControlName="roleName"
            [(ngModel)]="selectedRole"
            name="role"
          >
            @for (role of roles; track role) {
            <mat-option [value]="role.value">{{ role.viewValue }}</mat-option>
            }
          </mat-select>
  
          @if (registerForm.get('roleName')!.hasError('required')) {
          <mat-error>Role is required</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <button
          type="submit"
          class="btn btn-primary"
          mat-flat-button
          [disabled]="registerForm.invalid"
        >
          Register
        </button>
      </div>

      <div class="mb-3">
        <span class="link-text">If you have an account, please</span>
        <a mat-button [routerLink]="'/' + appRoutes.Login">Login</a>
      </div>
    </form>
  </div>