<form 
    class="container p-5" 
    [formGroup]="registerForm"
    (ngSubmit)="$event.preventDefault(); submitForm()"
>
    <div class="mb-3 col-3">
        <label class="form-label">Username</label>
        <input 
            type="text" 
            class="form-control"
            formControlName="userUsername"
        >
        <div *ngIf="registerForm.get('userUsername')?.invalid &&
                    (registerForm.get('userUsername')?.touched ||
                    registerForm.get('userUsername')?.dirty)"
        >
            <small 
                class="text-danger"
                *ngIf="registerForm.get('userUsername')?.hasError('required')"
            >Username is required</small>
        </div>
    </div>

    <div class="mb-3 col-3">
        <label class="form-label">Email</label>
        <input 
            type="text" 
            class="form-control"
            formControlName="userEmail"
        >
        <div *ngIf="registerForm.get('userEmail')?.invalid &&
                    (registerForm.get('userEmail')?.touched ||
                    registerForm.get('userEmail')?.dirty)"
        >
            <small 
                class="text-danger"
                *ngIf="registerForm.get('userEmail')?.hasError('required')"
            >Email is required</small>
            <small
                class="text-danger" 
                *ngIf="registerForm.get('userEmail')?.hasError('email')"
            >Enter a valid email</small>
        </div>
    </div>

    <div class="mb-3 col-3">
        <label class="form-label">Name</label>
        <input 
            type="text" 
            class="form-control"
            formControlName="userName"
        >
        <div *ngIf="registerForm.get('userName')?.invalid &&
                    (registerForm.get('userName')?.touched ||
                    registerForm.get('userName')?.dirty)"
        >
            <small
                class="text-danger"
                *ngIf="registerForm.get('userName')?.hasError('required')"
            >Name is required</small>
        </div>
    </div>

    <div class="mb-3 col-3">
        <label class="form-label">Surname</label>
        <input 
            type="text" 
            class="form-control"
            formControlName="userSurname"
        >
        <div *ngIf="registerForm.get('userSurname')?.invalid &&
                    (registerForm.get('userSurname')?.touched ||
                    registerForm.get('userSurname')?.dirty)"
        >
            <small
                class="text-danger"
                *ngIf="registerForm.get('userSurname')?.hasError('required')"
            >Surname is required</small>
        </div>
    </div>

    <div class="mb-3 col-3">
        <label class="form-label">Password</label>
        <input 
            type="password" 
            class="form-control"
            formControlName="userPassword"
        >
        <div *ngIf="registerForm.get('userPassword')?.invalid &&
                    (registerForm.get('userPassword')?.touched ||
                    registerForm.get('userPassword')?.dirty)"
        >
            <small
                class="text-danger"
                *ngIf="registerForm.get('userPassword')?.hasError('required')"
            >Password is required</small>
            <small
                class="text-danger"
                *ngIf="registerForm.get('userPassword')?.hasError('minlength')"
            >Password has to be at least 8 characters long</small>
            <small
                class="text-danger"
                *ngIf="registerForm.get('userPassword')?.hasError('maxlength')"
            >Password cannot be longer than 50 characters</small>
        </div>
    </div>

    <div class="mb-3 col-3">
        <label class="form-label">Repeat password</label>
        <input 
            type="password" 
            class="form-control"
            formControlName="userRepeatPassword"
        >
        <div *ngIf="registerForm.get('userRepeatPassword')?.invalid &&
                    (registerForm.get('userRepeatPassword')?.touched ||
                    registerForm.get('userRepeatPassword')?.dirty)"
        >
            <small
                class="text-danger"
                *ngIf="registerForm.get('userRepeatPassword')?.hasError('required')"
            >Repeat password is required</small>
            <small
                class="text-danger"
                *ngIf="registerForm.get('userRepeatPassword')?.hasError('passwordNoMatch')"
            >Repeat password is required</small>
        </div>        
    </div>

    <div class="mb-3 col-3">
        <label class="form-label">Address</label>
        <input 
            type="text" 
            class="form-control"
            formControlName="userAddress"
        >
        <div *ngIf="registerForm.get('userAddress')?.invalid &&
                    (registerForm.get('userAddress')?.touched ||
                    registerForm.get('userAddress')?.dirty)"
        >
            <small
                class="text-danger"
                *ngIf="registerForm.get('userAddress')?.hasError('required')"      
            >Address is required</small>
        </div>
    </div>

    <div class="mb-3 col-3">
        <label class="form-label">Role</label>
        <select 
            class="form-control"
            formControlName="userRole"    
        >
            <option value="User" selected>User</option>
            <option value="Driver">Driver</option>
        </select>
        <div *ngIf="registerForm.get('userRole')?.invalid &&
                    (registerForm.get('userRole')?.touched ||
                    registerForm.get('userRole')?.dirty)"
        >
            <small
                class="text-danger"
                *ngIf="registerForm.get('userRole')?.hasError('required')"      
            >Address is required</small>
        </div>
    </div>
    
    <div class="mb-3 col-3">
        <button 
            type="submit"
            class="btn btn-primary"
            [disabled]="registerForm.invalid"
        >Register</button>
    </div>    
</form>
