<div class="box-shadow registration">
    <h1>Registration</h1>
    <form
      class="container form"
      [formGroup]="registerForm"
      (ngSubmit)="$event.preventDefault(); submitForm()"
    >
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input
            type="text"
            matInput
            formControlName="userUsername"
            placeholder="Enter your username"
          />
          @if (registerForm.get('userUsername')!.hasError('required')) {
          <mat-error>Username is required</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="userEmail"
            placeholder="Enter your email"
          />
          @if (registerForm.get('userEmail')!.hasError('required')) {
          <mat-error>Username is required</mat-error>
          } @if (registerForm.get('userEmail')!.hasError('email')) {
          <mat-error>Enter a valid email</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input
            type="text"
            matInput
            formControlName="userName"
            placeholder="Enter your Name"
          />
          @if (registerForm.get('userName')!.hasError('required')) {
          <mat-error>Name is required</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Surname</mat-label>
          <input
            type="text"
            matInput
            formControlName="userSurname"
            placeholder="Enter your surname"
          />
          @if (registerForm.get('userSurname')!.hasError('required')) {
          <mat-error>Surname is required</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            formControlName="userPassword"
            placeholder="Enter your password"
          />
          @if (registerForm.get('userPassword')!.hasError('required')) {
          <mat-error>Password is required</mat-error>
          } @if (registerForm.get('userPassword')!.hasError('minlength')) {
          <mat-error>Password has to be at least 8 characters long</mat-error>
          } @if (registerForm.get('userPassword')!.hasError('maxlength')) {
          <mat-error>Password cannot be longer than 50 characters</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Repeat password</mat-label>
          <input
            type="password"
            matInput
            formControlName="userRepeatPassword"
            placeholder="Enter your repeated password"
          />
          @if (registerForm.get('userRepeatPassword')!.hasError('required')) {
          <mat-error>Repeat password is required</mat-error>
          } @if
          (registerForm.get('userRepeatPassword')!.hasError('passwordNoMatch')) {
          <mat-error>Passwords must match</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input
            type="text"
            matInput
            formControlName="userAddress"
            placeholder="Enter your address"
          />
          @if (registerForm.get('userAddress')!.hasError('required')) {
          <mat-error>Address is required</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <mat-form-field>
          <mat-label>Role</mat-label>
          <mat-select
            formControlName="userRole"
            [(ngModel)]="selectedRole"
            name="role"
          >
            @for (role of roles; track role) {
            <mat-option [value]="role.value">{{ role.viewValue }}</mat-option>
            }
          </mat-select>
  
          @if (registerForm.get('userRole')!.hasError('required')) {
          <mat-error>Role is required</mat-error>
          }
        </mat-form-field>
      </div>
  
      <div class="mb-3">
        <button
          type="submit"
          class="btn btn-primary"
          mat-flat-button
          [disabled]="registerForm.invalid"
        >
          Register
        </button>
      </div>
    </form>
  </div>