@use "@angular/material" as mat;
@use "assets/scss/global-styles/global-styles";
@use "assets/scss/global-styles/input-fields";

@include mat.core();

$my-theme: mat.define-theme((
 color: (
    theme-type: light,
    primary: mat.$violet-palette,
  ),
));

html {
  @include mat.core-theme($my-theme);
  @include mat.button-theme($my-theme);
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: Inter, "Helvetica Neue", sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }