<div class="dashboard">
    <div class="page-width">        
      <div class="page-text">
        <h1>
          Taxi App <br />
          Easy, fast and safe service.
        </h1>
  
        <mat-divider></mat-divider>
  
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book.
        </p>
  
        <!--User-->
        <a
          [routerLink]="'/' + appRoutes.CreateDrive"
          mat-flat-button
          class="btn dashboard-options btn-primary"
          >Order a taxi</a
        >
        
        <a
          [routerLink]="'/' + appRoutes.Profile"
          mat-flat-button
          class="btn dashboard-options btn-primary"
          >Profile</a
        >    

        <!--Admin-->
        <a
          [routerLink]="'/' + appRoutes.UserList"
          mat-flat-button
          class="btn dashboard-options btn-primary"
          >Users</a
        >            

        <!--Driver-->
        <a
          [routerLink]="'/' + appRoutes.NewDrives"
          mat-flat-button
          class="btn dashboard-options btn-primary"
          >New drives</a
        >

        <!--Admin-->
        <a
          [routerLink]="'/' + appRoutes.AllDrives"
          mat-flat-button
          class="btn dashboard-options btn-primary"
          >Drives</a
        >

        <!--User, driver-->
        <a
          [routerLink]="'/' + appRoutes.MyDrives"
          mat-flat-button
          class="btn dashboard-options btn-primary"
          >My drives</a
        >
      </div>
  
      <div class="page-image">
        <img src="./assets/img/taxi-car.png" alt="" />
      </div>
    </div>
</div>
