<mat-grid-list cols="2" rowHeight="3:1" [gutterSize]="'100px'">

    <mat-grid-tile>
        <mat-card style="background-color: gray;">
            <mat-card-content>User list</mat-card-content>
            <mat-card-actions>
                <a 
                    mat-button
                    [routerLink]="'/' + appRoutes.UserList"
                >User list</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <!-- only for admin, TODO: logic for getCurrentUser -> and putting it in header component also -->
    <mat-grid-tile>
        <mat-card style="background-color: gray;">
            <mat-card-content>View your profile</mat-card-content>
            <mat-card-actions>
                <a 
                    mat-button
                    [routerLink]="'/' + appRoutes.Profile"
                >Profile</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card style="background-color: gray;">
            <mat-card-content>Create drive</mat-card-content>
            <mat-card-actions>
                <a 
                    mat-button
                    [routerLink]="'/' + appRoutes.CreateDrive"
                >Create drive</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card style="background-color: gray;">
            <mat-card-content>New drives</mat-card-content>
            <mat-card-actions>
                <a 
                    mat-button
                    [routerLink]="'/' + appRoutes.NewDrives"
                >New drives</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
        <mat-card style="background-color: gray;">
            <mat-card-content>All drives</mat-card-content>
            <mat-card-actions>
                <a 
                    mat-button
                    [routerLink]="'/' + appRoutes.AllDrives"
                >All drives</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>