.container {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    width: 100vw;            
  }
  
  .centered-div {
    padding: 20px;
    // background-color: lightblue;
    // border: 1px solid blue;
  }